html,body {
  background-color: white;
  }

/* .perro{
  background-image: url("https://media.discordapp.net/attachments/729244330597810219/958234491523063825/perro.png" );
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: 30%;

} */

.container{
  position:relative;
  min-height: 100%;
}

