body {
  background-color: white;
  }

.bi-instagram{
  margin: 5%;
}

.contacto-contenedor{
    position: relative;
    min-height: 100%;
}

.lol{
  padding-top: 200px;
}

.container-footer{
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
  }