html,body {
  background-color: white;
  }

.ofertas-contenedor{
    position: relative;
    min-height: 100%;
}

.lol{
    padding-top: 200px;
}

.container-footer{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
  }