html,body {
  background-color: white;
  }

/* .perro{
  background-image: url("https://media.discordapp.net/attachments/729244330597810219/958234491523063825/perro.png" );
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: 30%;

} */

.ofertas-contenedor{
    position: relative;
    min-height: 100%;
}

.lol{
  padding-top: 200px;
}

.container-footer{

    right: 0;
    bottom: 0;
    left: 0;
  }

