<!doctype html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
    <link href="{% static 'css/ofertas.css'%}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="icon" type="image/png" href="{% static 'img/logo.png'%}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    
    <title>PELUDITOS</title>
  </head>

  <body>
    {% load static %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light static-top mb-5 shadow">
      <div class="container">
        <a class="navbar-brand" href="/index">
          <img src="{% static 'img/logo.png'%}" width="30px"> PELUDITOS</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/index">Inicio</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Tienda
                <i class="bi bi-shop"></i>
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li>
                  <a class="dropdown-item" href="/productos">Productos
                    <i class="bi bi-tags"></i>
                  </a>
              </li>
                <li>
                  <a class="dropdown-item" href="/ofertas">Ofertas
                    <i class="bi bi-percent"></i>
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" href="/contacto">Contacto
                    <i class="bi bi-person-lines-fill"></i>
                  </a>
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Razas
                <i class="bi bi-lightbulb"></i>
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="/razaperros">Razas Perros</a></li>
                <li><a class="dropdown-item" href="/razagatos">Razas Gatos</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Registrarse
                <i class="bi bi-person-circle"></i>
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="/registro">Registrarse</a></li>
                <li><a class="dropdown-item" href="/login">Iniciar Sesión</a></li>
              </ul>
            </li>
            <li class="nav-item">              
              <a class="nav-link" href="/carro">Carro
                <i class="bi bi-cart"></i>
              </a> 
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
        <div class="row">
            <h1>Modificación de datos productos</h1>
        </div>
        <br>
        
        <div class="row">
            <form method="post" action="/guardarProductoCambiado/" id="formulario">
                {% csrf_token %}
                <div class="form-group">
                    <label for="idproducto">ID producto</label>
                    <input type="number" id="idproducto" name="idproducto" class="form-control"
                    value="{{producto.idProducto}}" readonly="true">
                </div>
                <div class="form-group">
                    <label for="nombre">Nombre producto</label>
                    <input type="text" id="nombre" name="nombre" class="form-control"
                    value="{{producto.nombreProducto}}">
                </div>
                <div class="form-group">
                    <label for="precio">Precio producto</label>
                    <input type="number" id="precio" name="precio" class="form-control"
                    value="{{producto.precioProducto}}">
                </div>
                <div class="form-group">
                    <label for="stock">Stock producto</label>
                    <input type="number" id="stock" name="stock" class="form-control"
                    value="{{producto.stockProducto}}">
                </div>
                <br>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary" id="enviar" value="Enviar">
                    <input type="reset" class="btn btn-secondary" id="limpiar" value="Limpiar">
            </div>
            </form>
            
        <br><br>
        

    </div>
    </div>
    <div class="lol">
    <div class="container-footer">
        <footer class="text-center text-white" style="background-color: #f1f1f1;">
          <!-- Grid container -->
          <div class="container pt-4">
            <!-- Section: Social media -->
            <section class="mb-4">
              <!-- Facebook -->
              <a 
                class="btn btn-link btn-floating btn-lg text-dark m-1"
                href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley"
                target="_blank"
                role="button"
                data-mdb-ripple-color="dark"
                ><i class="bi bi-facebook"></i
              ></a>
        
              <!-- Twitter -->
              <a
                class="btn btn-link btn-floating btn-lg text-dark m-1"
                href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley"
                target="_blank"
                role="button"
                data-mdb-ripple-color="dark"
                ><i class="bi bi-twitter"></i
              ></a>
        
              <!-- Google -->
              <a
                class="btn btn-link btn-floating btn-lg text-dark m-1"
                href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley"
                target="_blank"
                role="button"
                data-mdb-ripple-color="dark"
                ><i class="bi bi-google"></i
              ></a>
        
              <!-- Instagram -->
              <a
                class="btn btn-link btn-floating btn-lg text-dark m-1"
                href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley"
                target="_blank"
                role="button"
                data-mdb-ripple-color="dark"
                ><i class="bi bi-instagram"></i
              ></a>
        
              <!-- Linkedin -->
              <a
                class="btn btn-link btn-floating btn-lg text-dark m-1"
                href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley"
                target="_blank"
                role="button"
                data-mdb-ripple-color="dark"
                ><i class="bi bi-linkedin"></i>
              </a>
              <!-- Github -->
              <a
                class="btn btn-link btn-floating btn-lg text-dark m-1"
                href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley"
                target="_blank"
                role="button"
                data-mdb-ripple-color="dark"
                ><i class="bi bi-github"></i>
              </a>
            </section>
            <!-- Section: Social media -->
          </div>
          <!-- Grid container -->
        
          <!-- Copyright -->
          <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2020 Copyright:
            <a class="text-dark" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley" target="_blank">AMORPARAELQUELEE.COM </a>
          </div>
          <!-- Copyright -->
        </footer>
      </div>
    </div>
      
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="{% static 'js/vanilla-zoom.js'%}"></script>
    <script src="{% static 'js/theme.js'%}"></script>
      
     
    </body>
  </html>