<!doctype html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="{% static 'css/productos.css'%}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="{% static 'css/vanilla-zoom.min.css'%}">
    <link rel="icon" type="image/png" href="{% static 'img/logo.png'%}">
    
    <title>PELUDITOS</title>
  </head>

  <body>
    {% load static %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light static-top mb-5 shadow">
      <div class="container">
        <a class="navbar-brand" href="/index">
          <img src="{% static 'img/logo.png'%}" width="30px"> PELUDITOS</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/index">Inicio</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Tienda
                <i class="bi bi-shop"></i>
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li>
                  <a class="dropdown-item" href="/productos">Productos
                    <i class="bi bi-tags"></i>
                  </a>
              </li>
                <li>
                  <a class="dropdown-item" href="/ofertas">Ofertas
                    <i class="bi bi-percent"></i>
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" href="/contacto">Contacto
                    <i class="bi bi-person-lines-fill"></i>
                  </a>
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Razas
                <i class="bi bi-lightbulb"></i>
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="/razaperros">Razas Perros</a></li>
                <li><a class="dropdown-item" href="/razagatos">Razas Gatos</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Registrarse
                <i class="bi bi-person-circle"></i>
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="/registro">Registrarse</a></li>
                <li><a class="dropdown-item" href="/login">Iniciar Sesión</a></li>
              </ul>
            </li>
            <li class="nav-item">              
              <a class="nav-link" href="/carro">Carro
                <i class="bi bi-cart"></i>
              </a> 
            </li>
          </ul>
        </div>
      </div>
    </nav>
    
    
    <!-- Page Content -->

    <div class="container items">
      <div class="row justify-content-center">
        {% for producto in productos %}
          <div class="col-sm-6 col-lg-4">
              <div class="clean-related-item">
                  <div class="image"><a href="#"><img class="img-fluid d-block mx-auto" src="{% static 'img/'%}{{producto.imagenProducto}}"></a></div>
                  <div class="related-name"><a href="#">{{producto.nombreProducto}}</a>
                      <div class="rating"><img src="{% static 'img/star.svg'%}"><img src="{% static 'img/star.svg'%}"><img src="{% static 'img/star.svg'%}"><img src="{% static 'img/star-half-empty.svg'%}"><img src="{% static 'img/star-empty.svg'%}"></div>
                      <h4>${{producto.precioProducto}}</h4>
                  </div>
              </div>
          </div>
          {% endfor %}
      </div>
      <div class="row justify-content-center">
        <div class="col-sm-6 col-lg-4">
            <div class="clean-related-item">
                <div class="image"><a href="#"><img class="img-fluid d-block mx-auto" src="https://www.amigales.cl/pub/media/catalog/product/cache/c687aa7517cf01e65c009f6943c2b1e9/p/h/phantom_1.png"></a></div>
                <div class="related-name"><a href="#">Collar rayado de colores</a>
                    <div class="rating"><img src="{% static 'img/star.svg'%}"><img src="{% static 'img/star.svg'%}"><img src="{% static 'img/star.svg'%}"><img src="{% static 'img/star-half-empty.svg'%}"><img src="{% static 'img/star-empty.svg'%}"></div>
                    <h4>$5.990</h4>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-4">
            <div class="clean-related-item">
                <div class="image"><a href="#"><img class="img-fluid d-block mx-auto" src="https://www.amigales.cl/pub/media/catalog/product/cache/c687aa7517cf01e65c009f6943c2b1e9/s/u/sumerpunch_collar_1.jpg"></a></div>
                <div class="related-name"><a href="#">Collar diseño de sandía</a>
                    <div class="rating"><img src="{% static 'img/star.svg'%}"><img src="{% static 'img/star.svg'%}"><img src="{% static 'img/star.svg'%}"><img src="{% static 'img/star-half-empty.svg'%}"><img src="{% static 'img/star-empty.svg'%}"></div>
                    <h4>$5.000</h4>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-4">
            <div class="clean-related-item">
                <div class="image"><a href="#"><img class="img-fluid d-block mx-auto" src="https://cdn.shopify.com/s/files/1/0185/9786/products/2590-FriscoCollar-CanyonlandsOrange-Large_2500_759ffd8e-63f0-44f1-a9c0-8cf7161ed823.jpg?v=1619229942"></a></div>
                <div class="related-name"><a href="#">Collar de cuero</a>
                    <div class="rating"><img src="{% static 'img/star.svg'%}"><img src="{% static 'img/star.svg'%}"><img src="{% static 'img/star.svg'%}"><img src="{% static 'img/star-half-empty.svg'%}"><img src="{% static 'img/star-empty.svg'%}"></div>
                    <h4>$9.990</h4>
                </div>
            </div>
        </div>
      </div>
    </div>
    
    <!-- <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
          ...
        </div>
      </nav> -->
    <div class="lol">
      <div class="container-footer">
        <footer class="text-center text-white" style="background-color: #f1f1f1;">
          <!-- Grid container -->
          <div class="container pt-4">
            <!-- Section: Social media -->
            <section class="mb-4">
              <!-- Facebook -->
              <a 
                class="btn btn-link btn-floating btn-lg text-dark m-1"
                href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley"
                target="_blank"
                role="button"
                data-mdb-ripple-color="dark"
                ><i class="bi bi-facebook"></i
              ></a>
        
              <!-- Twitter -->
              <a
                class="btn btn-link btn-floating btn-lg text-dark m-1"
                href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley"
                target="_blank"
                role="button"
                data-mdb-ripple-color="dark"
                ><i class="bi bi-twitter"></i
              ></a>
        
              <!-- Google -->
              <a
                class="btn btn-link btn-floating btn-lg text-dark m-1"
                href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley"
                target="_blank"
                role="button"
                data-mdb-ripple-color="dark"
                ><i class="bi bi-google"></i
              ></a>
        
              <!-- Instagram -->
              <a
                class="btn btn-link btn-floating btn-lg text-dark m-1"
                href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley"
                target="_blank"
                role="button"
                data-mdb-ripple-color="dark"
                ><i class="bi bi-instagram"></i
              ></a>
        
              <!-- Linkedin -->
              <a
                class="btn btn-link btn-floating btn-lg text-dark m-1"
                href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley"
                target="_blank"
                role="button"
                data-mdb-ripple-color="dark"
                ><i class="bi bi-linkedin"></i>
              </a>
              <!-- Github -->
              <a
                class="btn btn-link btn-floating btn-lg text-dark m-1"
                href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley"
                target="_blank"
                role="button"
                data-mdb-ripple-color="dark"
                ><i class="bi bi-github"></i>
              </a>
            </section>
            <!-- Section: Social media -->
          </div>
          <!-- Grid container -->
        
          <!-- Copyright -->
          <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2020 Copyright:
            <a class="text-dark" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley" target="_blank">AMORPARAELQUELEE.COM </a>
          </div>
          <!-- Copyright -->
        </footer>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="{% static 'js/vanilla-zoom.js'%}"></script>
    <script src="{% static 'js/theme.js'%}"></script>

    
   
  </body>
</html>